<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
          <h1>This is about Page</h1>
        <div>
            <form action="{{url_for('home')}}" method="get" style="display: inline;">          
            <button type="submit">Home</button>
            
            </form>
        </div>
        <br/>
        <div>
            <form action="{{url_for('contact')}}" method="get" style="display: inline;">
            <button>Contact Us</button>
            </form>
        </div>
    </body>
</html>